{% extends "bank/base.html" %}


{% block content %}
  <h2>SIP Calculation</h2>
  <form method="post">
    {% csrf_token %}
    <label for="monthly_investment">Monthly Investment:</label>
    <input type="number" name="monthly_investment" id="monthly_investment" required step="0.01">
    <label for="rate">Interest Rate (% per annum):</label>
    <input type="number" name="rate" id="rate" required step="0.01">
    <label for="years">Duration (years):</label>
    <input type="number" name="years" id="years" required>
    <button type="submit" class="btn btn-primary">Calculate Maturity</button>
  </form>

  {% if maturity %}
    <p>Your SIP maturity amount is ₹{{ maturity }}</p>
  {% endif %}
  <!-- Back to Dashboard link -->
  <a href="{% url 'dashboard' %}" class="btn btn-secondary mt-3 ">Back to Dashboard</a>
{% endblock %}
